
.img-upload{
  background-color: #343434; 
  width: 40vw;
  min-height: 75vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.img-upload input, button{
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 22px;
}
.img-upload input{
  height: 90%;
}

.img-upload button{
  border-style: none;
  outline-style: none;
  border-radius: 5px;
}

.results{
  background-color: #343434;
  width: 40vw;
  min-height: 75vh;
  border-radius: 10px;
}



