.nav{
  position: sticky;
  height: 15vh;
  background: #202030;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list{
  list-style: none;
  margin: 0;
  display: inline-flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  font-size: 2.5rem;
  margin: 20px;
  transition: opacity 0.5s ease;
  opacity: 0.66;
  cursor: pointer;
}
.nav-item:hover{
  opacity: 1;
}
.nav-item.active{
  color: #55a0a0;
}
