body {
  --primary: #343434;
  --secondary: #055E68;
  --tertiary: #62A388;
  --quaternary: #B9D2D2;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: var(--primary);
  color: var(--tertiary);
}

.page {
  background-color: var(--quaternary);
  height: 100vh;
}
