.navbar {
  display: inline-flex;
  margin: 0;
}

.navlist {
  display: inline-flex;
  list-style: none;
  gap: 10px;
}

.navitem {
  font-size: 20px;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

.navitem.active {
  color: red;
}
