.navbar {
  display: inline-flex;
  margin: 0;
}

.navlist {
  display: inline-flex;
  list-style: none;
  gap: 10px;
}

.navitem {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.navitem.active {
  color: var(--secondary);
}
